<!-- About Section -->
    <section id="about" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading">Professionally-crafted media for artists and small business at a reasonable price.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <ul class="timeline">
                        <!-- TODO: turn into MARKDOWN -->
                        <li>
                            <div class="">
                                <img class="img-circle img-responsive" src="assets/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Unknown Endeavors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="">Paul Cline, aka Brother Peace Cee, founds UnKnown Endeavors, a multi-pronged production company and entertainment collective that incorporates classic musical ideals and an innovative approach to music and visual media.
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="">
                                <img class="img-circle img-responsive" src="assets/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">StarterKit Media is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="">After making the move from Kauai to the City of Lights, we continued to collaborate with LA-based musicians. We noticed that most aspiring or established artists needed a similar set of services.<br><br>

                                    This is where the idea of Starter Kit Media was born.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="">
                                <img class="img-circle img-responsive" src="assets/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">New Website Launched</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="">Our new website showcases the services we provide to aspiring and established musicians, artists, as well small businesses. <br>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
