<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% comment %} Custom CSS & Bootstrap Core CSS - Uses http://bootswatch.com/flatly/ {% endcomment %}
    <link rel="stylesheet" href="{{ "style.css" | relative_url }}">

    {% comment %} Local CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relative_url }}">

    {% comment %} FA {% endcomment %}
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relative_url }}">
</head>
