<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ "/" | relative_url }}">
                <img class="site-logo" src="assets/svg/SKM-lion.svg"
                onerror="this.onerror=null; this.src='assets/img/SKM-lion.png'"
                alt="{{ site.title }}" title="{{ site.title }}"
                >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                
                <li>
                    <a class="page-scroll navbar-link" href="#services">Services</a>
                </li>
                
                <li>
                    <a class="page-scroll navbar-link" href="#team">Team</a>
                </li>

                <li>
                    <a class="page-scroll navbar-link" href="#portfolio">Portfolio</a>
                </li>
                
                <li>
                    <a class="page-scroll navbar-link" href="#about">About</a>
                </li>
                
                <li>
                    <a class="page-scroll navbar-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<!-- Header -->
<header>
    
    <div class="container intro-parent">
        <div class="banner-top">
            <!-- <div class="hero">Professional media packets for aspiring artists</div> -->
            <div class="hero">Visionary media production<br> for aspiring artists</div>
        </div>
        <div class="banner-cta">
            <a href="#services" class="page-scroll btn btn-xl">What We Offer</a>
        </div>
    </div>
    <div class="video-overlay"></div>
    <div class="video-wrapper">
        <video preload="auto" autoplay="true" loop="true" muted playsinline volume="0">
            <source src="assets/vid/times-change.mp4" type="video/mp4" codecs=avc1.42E01E,mp4a.40.2>
        </video>
    </div>

</header>
