<section id="mission" class="bg-light-gray">
  <div class="container">

     <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>
        <p class="lead">
        We create studio-quality media assets for emerging artists and businesses
        to attract their most passionate fans.
        </p>
        <p class="lead">
        Access to professional facitilies in <strong>Kauai</strong> and <strong>Los Angeles</strong>.
        Mobile recording is available upon request.
        </p>
      </div>
    </div>

  </div>
</section>

