 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="client-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        
        <div class="modal-content">

            <div class="modal-header" 
                style="background-image:url('assets/img/portfolio/{{ post.image }}.jpg')
            ">
                <div class=""><h1>{{ post.title }}</h1></div>
            </div>
            <div class="modal-body">
                <h2>{{ post.subtitle }}</h2>
                <hr class="star-primary">
                
                {% if post.vimeo_id %}
                    <p>{{ post.description }}</p>
                {% endif %}
                
                <div class="row">
                    {% if post.vimeo_id %}
                        <div class="col-xs-12">
                            <iframe class="video-clip" width="720" height="360"
                            src="https://player.vimeo.com/video/{{ post.vimeo_id }}"  
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% if post.youtube_id %}
                        <div class="col-xs-12">
                            <iframe class="video-clip" width="720" height="360" 
                            src="https://www.youtube.com/embed/{{ post.youtube_id }}" 
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </p>   
                {% endif %}
                </div>
                
                <div class="row">
                {% for track in post.soundcloud_links %}
                    <div class="col-sm-6 soundcloud">
                        <h3>{{ track.name }}</h3>
                        <iframe width="100%" height="180" scrolling="no" frameborder="no" allow="autoplay" 
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ track.id }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div> 
                {% endfor %}
                </div>

                

            </div>

        </div>



<!--             <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                    </div>
                </div>
            </div> -->
    </div>
{% endfor %}
