<!-- News Section -->
<section id="news" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">News</h2>

        <div class="slider">

          <div>
            <iframe id="first_one" class="video-clip" width="720" height="auto"
            src="https://www.youtube.com/embed/CLEMSGIJ7Bw?&version=3&enablejsapi=1&vq=hd1080"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="caption">
                <h3>The World Today</h3>
                <p>
                  Featuring
                  <a href="http://www.thegardenisland.com/2018/06/03/lifestyles/thomas-iannucci-na-hoku-hanohano-winner/">2018 Na Hoku award winner</a>,
                  <strong>Tom Iannucci</strong>, our very own <strong>Peace Cee</strong>, and <strong>Marisol</strong>.
              </p>
            </div>
          </div>

          <div>
            <iframe class="video-clip" width="720" height="auto"
              src="https://www.youtube.com/embed/rHDpNf-EQ4M?&version=3&enablejsapi=1&vq=hd1080"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="caption">
              <h3>The Musical Conversation</h3>
              <p>The Musical Conversation – Episode 1, featuring Albert Bermunez.
                  Produced and edited by U.K.E's own Paul Cline. Mixed by Brent Boberg. DP Mihai Peteu. </p>
              </p>
              </div>
          </div>

        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Our newest music video release - "The World Today"</h3>
        <p class="lead">
          Featuring
          <a href="http://www.thegardenisland.com/2018/06/03/lifestyles/thomas-iannucci-na-hoku-hanohano-winner/">2018 Na Hoku award winner</a>,
          <strong>Tom Iannucci</strong>, our very own <strong>Peace Cee</strong>, and <strong>Marisol</strong>.
        </p>
      </div>
    </div> -->

  </div>
</section>
