<!-- News Section -->
<section id="news" class="">
  <div class="container">

    <div class="row">

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">News</h2>
        <h3>Our newest release - "The World Today"</h3>
        
        <p class="lead">
          Featuring 
          <a href="http://www.thegardenisland.com/2018/06/03/lifestyles/thomas-iannucci-na-hoku-hanohano-winner/">2018 Na Hoku award winner</a>, 
          <strong>Tom Iannucci</strong>, 
          our very own <strong>Peace Cee</strong>,
          and <strong>Marisol</strong>.
        </p>

        <p>
          <iframe class="video-clip" width="720" height="auto"
          src="https://www.youtube.com/embed/CLEMSGIJ7Bw?&version=3&vq=hd1080"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </p>
      </div>

    </div>

  </div>
</section>
