<!-- Services Section -->
    <section id="services">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <p class="lead">
                    Assisting aspiring artists with the creation of professional-quality media packets to showcase their release.
                    </p>
                    <p class="lead">
                     We provide a custom-designed product to fit your individual needs and help you move forward on your journey. Our experienced professionals provide an a-la-carte model of services, such as:
                    </p>
                </div>
            </div>


            <!-- Services offered -->
            <div class="row text-center">

                <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Audio Engineering</h4>
                    <p class="service-caption">Certified Pro Tools engineers with 10+ years of experience</p>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expert Musicians</h4>
                    <p class="service-caption">Work with in-house studio musicians and songwriting consultants</p>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Studio Time</h4>
                    <p class="service-caption">Recording a demo of your original music – we have studio space in Los Angeles and Kauai</p>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Music Videos</h4>
                    <p class="service-caption">Avid and Final Cut Pro-certified</p>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Needs</h4>
                    <p class="service-caption">Combine specific services to meet your needs.</p>
                </div>


            </div>
            <!-- /Services -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr>

                    <h3>Pull your act together! Get a hold of us today.</h3>
                    <br>
                </div>
                <div>
                    <div class="col-lg-12 text-center">
                    <a href="#contact" class="page-scroll btn btn-xl">Get a Quote</a>
                </div>
            </div>

        </div>
    </section>
