---
layout: client-detail
---
<div class="home">
  <div class="col-sm-12">
  {% if page.title %}
    <h1 class="page-heading">Latest News from our labs</h1>
  {% endif %}
  </div>
  {{ content }}

  {% if site.posts.size > 0 %}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {% for post in site.posts %}
      <div class="col-sm-6 post">
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {% if site.show_excerpts %}
            {{ post.excerpt }}
          {% endif %}
        </li>
      </div>
    {% endfor %}
    </ul>

    <div class="col-sm-12">
      <p class="muted">
        <a href="{{ "/feed.xml" | relative_url }}">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/svg/social-icons.svg#rss' | relative_url }}"></use></svg>
          <span>RSS feed</span>
        </a>
      </p>
    </div>
  {% endif %}
</div>
