// Mixins
%transition-all {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@mixin slim-navbar-brand() {
  .navbar-header {
    margin-left: 0.5em !important;
  }
  .navbar-brand {
    background: url('../assets/svg/SKM-small.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 60px;
    min-height: 60px;
    margin: 0.3em 0;
    font-size: 0.5em;
  }
  img.site-logo {
    display: none;
  }
}

@mixin regular-navbar-brand() {
  .navbar-brand {
    background: none;
    width: 260px;
    margin: 0.5em 0;
    font-size: 0.75em;
  }
  img.site-logo {
    display: block;
    height: 54px;
  }
}

@mixin build-responsive-page($m) {
  $top-bottom-padding: .7rem;
  $left-right-padding: 1.25rem;

  section {
    padding: $m*6em 0;
  }
  
  // Services page
  .service-caption {
    min-height: $m * 60px;
  }

  .navbar {
    padding: $m*.5rem 0 $m*.1rem 0;
    .navbar-brand {
      font-size: $m*1em;
      padding: $m*.25em 0 !important;
      // margin: $m*0.5em $m*0.5em;
    }
    .navbar-nav {
      >li {
        > .navbar-link {
          padding: $m*.65em 1em;
          margin: $m*0.75em 0;
          font-size: $m*.85em;
          letter-spacing: $m*0.15em;
        }
      }
    }
  }

  // HORIZONTAL RULE
  hr {
      margin: $m * 2rem auto;
  }


  iframe.video-clip {
    height: $m * 480px !important;
  }

  // Specific classes
  .modal-header {
    height: $m * 42%;
  }
  .timeline img {
    width: $m * 240px;
    height: $m * 240px
  }

  body {
    font-size: 1.6em * $m;
  }
  hr.spacer {
      margin: $m*10px auto;
  }
  h1 { 
    font-size: 2.75em * $m;
    margin: $m*0.5rem 0;
  }
  h2 { 
    font-size: 2.1em * $m;
    margin: $m*2.25rem 0 $m*.5rem 0;
  }
  h3 { 
    font-size: 1.6em * $m;
    margin: $m*1.75rem 0 $m*.5rem 0;
  }
  h4 { 
    font-size: 1.3em * $m;
    margin: $m*1.5rem 0 $m*.5rem 0;
  }
  h5 { 
    font-size: 1.2em * $m;
    margin: $m*1rem 0 $m*.25rem 0;
  }
  h6 { 
    font-size: 1em * $m;
    margin: $m*10px 0;
  }

  p.lead { font-size: $m*1.12em; }
  // No space above sutitle to keep compact

  // Add space between columns
  *[class^='col-sm'] {
      padding: 0 $m*30px;
  }
  .btn {
    padding: $m*.35em $m*1.25em;
  }
  .btn-md {
    font-size: $m*0.75em;
  }
  .btn-md {
    font-size: $m*1em;
  }
  .btn-lg {
    font-size: $m*1.25em;
  }
  .btn-xl {
    font-size: $m*1.5em;
  }

  .hero {
    font-size: $m*2.6em;
    line-height: $m*1.2em;
    font-weight: 200;
    margin-bottom: auto;
  }
}

// Mobile
@media (min-width: 0px) and (max-width: 519px) {
  @include slim-navbar-brand();
  // iframe.video-clip { height: 480px !important; }
  // ul.nav { border: 1px solid black; }
}

// Laptop
@media (min-width: 520px) and (max-width: 767px) {
  @include slim-navbar-brand();
  // iframe.video-clip { height: 500px !important; }
  // ul.nav { border: 1px solid purple; }
}

@media (min-width: 768px) and (max-width: 991px) {
  @include slim-navbar-brand();
  // iframe.video-clip { height: 720px !important; }
  // ul.nav { border: 1px solid red; }
}

@media (min-width: 992px) and (max-width: 1600px) {
  @include regular-navbar-brand();
  // iframe.video-clip { height: 960px !important; }
  // ul.nav { border: 1px solid green; }
}

@media (min-width: 1601px) {
  @include regular-navbar-brand();
  // iframe.video-clip { height: 1080px !important; }
  // ul.nav { border: 1px solid white; }
}

