// Mixins
%transition-all {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@mixin slim-navbar-brand() {
  .navbar-brand {
    // background: url('/assets/svg/low-tide-digital-text.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 50%; // 15px 15px;
    // width: 220px;
    font-size: 1.25em;
  }
  img.site-logo {
    display: none;
  }
}

@mixin build-responsive-page($m) {
  $top-bottom-padding: .7rem;
  $left-right-padding: 1.25rem;

  section {
    padding: $m*6em 0;
  }
  
  .navbar {
    padding: $m*.5rem 0 $m*.1rem 0;
    .navbar-brand {
      font-size: $m*1em;
      padding: $m*0.25em $m*1em;
      margin: $m*1.1em $m*0.15em;
    }
    .navbar-nav {
      >li {
        > .navbar-link {
          padding: $m*.65em $m*1.25em;
          margin: $m*0.75em $m*0.1em;
          font-size: $m*.85em;
          letter-spacing: $m*0.15em;
        }
      }
    }
  }

  // HORIZONTAL RULE
  hr {
      margin: $m * 2rem auto;
  }
  hr.spacer {
      margin: $m*10px auto;
  }
  h1 { margin: $m*32px 0; }
  h2 { margin: $m*2.25rem 0 $m*.5rem 0; }
  h3 { margin: $m*1.75rem 0 $m*.5rem 0; }
  h4 { margin: $m*1.5rem 0 $m*.5rem 0; }
  h5 { margin: $m*1rem 0 $m*.25rem 0; }
  h6 { margin: $m*10px 0; }

  p.lead { font-size: $m*1.12em; }
  // No space above sutitle to keep compact

  // Add space between columns
  *[class^='col-sm'] {
      padding: 0 $m*30px;
  }
  .btn {
    padding: $m*.35em $m*1.25em;
  }
  .btn-md {
    font-size: $m*0.75em;
  }
  .btn-md {
    font-size: $m*1em;
  }
  .btn-lg {
    font-size: $m*1.25em;
  }
  .btn-xl {
    font-size: $m*1.5em;
  }

  .hero {
    padding: $m*1em 0;
    font-size: $m*2.15em;
    font-weight: 200;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// // Mobile
// @media (min-width: 0em) {
//   button.navbar-toggle {
//     display: block;
//   }
//   .content {
//     padding-top: 1rem;
//     padding: 0 1rem;
//   }
//   .sidebar {
//     background: rgba(255,255,255,0);
//   }
//   .sidebar-sticky {
//     display: none;
//   }
//   .hero {
//     padding: 5em 1em 2.0em 1em;
//   }
//   p.lead {
//     margin-bottom: 0;
//   }
// }

// // Laptop
// @media (min-width: 48em) {
//   button.navbar-toggle {
//     display: none;
//   }
//   .content {
//     padding-top: 2rem;

//     // border: 1px solid magenta;
//     max-width: 32rem;
//     margin-left: 16rem;
//     margin-right: 1rem;
//   }
//   .sidebar {
//     display: block;
//     position: fixed;
//     padding: 2.0rem 1.5rem;
//     width: 13rem;
//     text-align: left;
//     background-color: rgba(0,0,0,.85);
//   }
//   .sidebar-sticky {
//     display: block;
//     position: absolute;
//   }
//   .social-media-list {
//     display: block;
//   }
//   .sidebar-nav {
//     display: block;
//   }
// }

// @media (min-width: 52em) {
//   .content {
//     // border: 1px solid green;
//     max-width: 34rem;
//     margin-left: 18rem;
//     margin-right: 2rem;
//   }
//   .sidebar {
//     width: 12rem;
//     padding: 2.5rem 2.5rem;
//   }
// }
// @media (min-width: 58em) {
//   .sidebar {
//     width: 14rem;
//     padding: 3.5rem 2rem;
//   }
//   .content {
//     // border: 1px solid red;
//     max-width: 36rem;
//     margin-left: 20rem;
//     margin-right: 2rem;
//   }
// }
// @media (min-width: 64em) {
//   .sidebar {
//     width: 14rem;
//     padding: 3.5rem 3rem;
//   }
//   .content {
//     // border: 1px solid blue;
//     max-width: 38rem;
//     margin-left: 22rem;
//     margin-right: 3rem;
//   }
// }
