
$col-width: 420px;

.portfolio-modal {
  z-index: 9999;

  img {
    margin-bottom: 1em;
  }

  .modal-content {
    min-height: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;

    .modal-header {
      height: 40%;
      padding: 1em 1em;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $color-gray-darkest;
      // height: 100%;

      h1 {
        position: absolute;
        top: 33%;
        left: .6em;
        font-weight: 300;
        text-transform: none;
        color: #fff;
        text-shadow: 0.35rem 0.15rem 0.25rem rgba(0,0,0,0.8);
      }
    }
  }

  .close-modal {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;

    &:hover {
      opacity: .3;
    }

    .lr {
      z-index: 1051;
      width: 3px;
      height: 75px;
      margin-left: 35px;
      background-color: #fff;
      box-shadow: 0.35rem 0.15rem 0.25rem rgba(80, 80, 80, 0.8);

      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      
      .rl {
        z-index: 1052;
        width: 3px;
        height: 75px;
        background-color: #fff;
        box-shadow: 0.35rem 0.15rem 0.25rem rgba(80, 80, 80, 0.8);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

#portfolio {
  .portfolio-item {
    right: 0;
    margin: 0 0 1.5em;
    padding: .4em;

    img {
      width: $col-width;
    }
    .portfolio-caption {
      margin: 0 auto;
      padding: .4em;
      max-width: $col-width;
      height: 126px;
      text-align: center;
      background-color: #fff;
    }
  
    .portfolio-link {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: $col-width;

      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
        background: rgba(200,200,200,.7); 
        
        .portfolio-hover-content {
          position: absolute;
          top: 50%;
          width: 100%;
          margin-top: -1em;
          text-align: center;
          font-size: 24px;
          color: $color-tertiary;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}