.team-member {
    margin-bottom: 50px;
    text-align: center;
    img {
	    margin: 0 auto;
	    border: 7px solid #fff;
	}
	h4 {
	    margin-top: 15px;
	    margin-bottom: 0;
	}
	p {
		margin-bottom: 0.15em;
	}
}



